

@font-face {
    font-family: camptonBlack;
    src: url('/components/fonts/woff/Campton-Black.woff2') format('woff2'), url('public/components/fonts/otf/Campton-Black.otf') format('otf');
}


@font-face {
    font-family: camptonBold;
    src: url('/components/fonts/woff/Campton-Bold.woff2') format('woff2'), url('public/components/fonts/otf/Campton-Bold.otf') format('otf');
}

@font-face {
    font-family: camptonMedium;
    src: url('/components/fonts/woff/Campton-Medium.woff2') format('woff2'), url('public/components/fonts/otf/Campton-Medium.otf') format('otf');
}

@font-face {
    font-family: camptonSemiBold;
    src: url('/components/fonts/woff/Campton-SemiBold.woff2') format('woff2'), url('public/components/fonts/otf/Campton-SemiBold.otf') format('otf');
}
