<nav ng-controller="navCtrl" class="nav" ng-show="isNavOpen" ng-click="closeNav()">


<div class="nav-close" ng-click="closeNav()">

</div>



<table class="nav-table">
  <tr class="nav-tr">
    <td class="nav-td">
      <div class="nav-wrapper">
        <ul class="nav-ul">
          <li class="nav-li"><a href="/" ng-click="closeNav()">home</a></li>
          <li class="nav-li"><a href="/product" ng-click="closeNav();">product</a></li>
          <li class="nav-li"><a href="/contact" ng-click="closeNav()">contact</a></li>

        </ul>





      </div>
    </td>
  </tr>
</table>




</nav>
